<form class="navbar-form" action="/products" accept-charset="UTF-8" method="get">
  <div class="form-group">
    <input type="search" name="keywords" id="keywords" placeholder="Search" class="form-control">
  </div>
  <div class="search-submit" id="lol">
    <input type="submit" value="" class="btn btn-success search-submit-btn">
  </div>
</form>
